.pageBox {
    width: 500px;
    height: 500px;
    border: 1px solid red;
}
.main {
    .layout-container {
        height: 100%;
    }
    .layout-sider {
        color: #fff;
        width: inherit!important;
        flex: 0 0 260px!important;
        max-width: inherit!important;
        .logo-title {
            height: 50px;
            font-size: 18px;
            font-weight: bold;
            line-height: 50px;
            text-align: center;
            background-color: rgba(0, 40, 77, 1);
        }
    }
    .layout-herder {
        height: 50px;
        background-color: #fff;
    }
}