.login-container {
    background-color: #2d3a4b;
    display: flex;
    justify-content: center;
    align-items: center;
    .icon {
        margin-right: 4px;
    }
    .ant-input-suffix>span,.icon {
        color:#889aa4
    }
    .login-content {
        &-title {
            color: #fff;
            font-size: 26px;
            font-weight: bold;
            text-align: center;
            margin-bottom: 24px;
        }
        &-account, &-password {
            .ant-input-affix-wrapper {
                min-width: 310px;
                height: 50px;
                margin-bottom: 18px;
                background-color: #283443;
                border-color: #394452;
                border-radius: 5px;
                .ant-input {
                    color: #fff;
                    background-color: transparent!important;
                }
                .ant-input:-webkit-autofill {
                    -webkit-text-fill-color: #fff;
                    -webkit-box-shadow: 0 0 0 1000px #283443 inset !important;
                    background-image: none;
                    background-color: transparent!important;
                    transition: background-color 5000s ease-in-out 0s;
                }
            }
        }
        &-loginBtn {
            height: 40px;
            border-radius: 5px;
            font-size: 16px;
            .loginLoading {
                font-size: 13px;
                vertical-align: middle;
                margin-top: -4px;
            }
        }
    }
}