.tagManagement {
  display: flex;

  .left-search {
    min-width: 280px;
    overflow: auto;
    padding: 10px 12px;
    border-right: 1px solid #d4d4d7;

    .titleBox {
      width: 140px;
      display: flex;

      .add {
        margin-left: 12px;
        color: #1890ff;
      }
    }

    .inputNode {

      .inputBox {
        width: 130px;
        height: 26px;
        margin-right: 8px;
      }

      .submit {
        font-size: 14px;
        color: #1890ff;
        margin-right: 8px;
      }

      .cancel {
        font-size: 14px;
        color: #ff4d4f;
      }
    }

    .search-container {

      .top-search {
        width: 180px;
      }

      .bottom-content {
        margin-top: 16px;

        .searchTree {
          font-size: 14px;
        }

        .ant-tree-list-holder-inner {

          & > div {
            margin-bottom: 8px;
          }
        }

        .ant-tree-switcher-icon {
          font-size: 14px;
        }

        .ant-tree-node-selected {
          background-color: #fff;
          color: #ff4d4f;
        }
      }
    }

    // .ant-tree-node-selected {
    //   color: #000!important;
    // }
  }

  .right-table {
    width: 100%;
    flex: 1;
    position: relative;
    padding: 10px 30px 20px;
    .tableBox {
      height: calc(100% - 55px);
      .table {
        height: 100%;
      }
    }

    .shrink {
      position: absolute;
      width: 24px;
      height: 32px;
      z-index: 9;
      background-color: #fff;
      border: 1px solid #d4d4d7;
      top: 20px;
      cursor: pointer;
      font-size: 16px;
      display: flex;
      font-size: 18px;
      justify-content: center;
      align-items: center;

      .line {
        height: 100%;
        width: 2px;
        position: absolute;
        right: -1px;
        top: 0;
        background-color: #fff;
      }
    }

    .shrink:hover {
      color: #3370ff;
    }

    .hideIcon {
      border-radius: 5px 0 0 5px;
      left: -24px;
      border-right: 0;
    }

    .showIcon {
      border-radius: 0 5px 5px 0;
      left: 0;
      border-left: 0;
    }

    &-content {
      width: 100%;
      height: 100%;

      .top-options {
        height: 32px;
        line-height: 32px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 18px;
      }
      .left-title {
        font-weight: bold;
        color: #696969;
        font-size: 20px;
      }
      .right-button {

        .addNewP {
          margin-right: 16px;
        }
      }
    }
  }
}
