@import "~antd/dist/antd.css";

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: PingFang SC;
  color: rgb(31, 35, 41);

  div {
    box-sizing: border-box;
  }

  .ant-btn {
    border-radius: 5px;
  }

  .ant-input-affix-wrapper {
    border-radius: 5px;
  }

  .searchIcon {
    font-size: 16px;
    color: #646a73;
    margin-top: 2px;
    margin-right: 4px;
  }

  .content-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow: auto;

    .layout-container {
      height: 100%;
    }

    .layout-sider {
      color: #fff;
      font-size: 16px !important;

      .logo-title {
        height: 60px;
        font-size: 20px;
        font-weight: bold;
        line-height: 60px;
        text-align: center;
        background-color: rgba(0, 40, 77, 1);
        margin-bottom: 16px;
      }
    }

    .layout-header {
      height: 60px;
      padding: 0 30px 0px 20px;
      box-shadow: 0 2px 8px #dadbdd;
      background-color: #fff;
      display: flex;
      justify-content: space-between;

      .toggleBtn {
        font-size: 20px;
      }

      .userInfoBox {
        .logout {
          span {
            margin-left: 8px;
            cursor: pointer;
            color: #40a9ff;
          }
        }
      }
    }

    .layout-content {
      padding: 20px;
      // overflow: hidden;
      position: relative;
      #loading {
        position: absolute;
        left: 20px;
        top: 20px;
        z-index: 9;
        background-color: rgb(255 255 255 / 57%) !important;
      }
    }

    .layout-content > div {
      width: 100%;
      height: 100%;
      overflow-y: scroll;
      background-color: #fff;
    }
  }
  .userOptions {
    font-size: 12px;
    width: max-content;
    border-radius: 5px;
    .optionsIcon {
      font-size: 12px;
      vertical-align: middle;
      margin-right: 4px;
      margin-top: -2px;
    }
  }

  .userOptions > div:hover {
    cursor: pointer;
    color: #40a9ff;
  }
}
.ant-modal,
.ant-modal-content {
  border-radius: 10px;
  overflow: hidden;
}
