.contentBrowsing {
    padding: 20px;
    .selectType {
        font-size: 14px;
        .ant-select-selector {
            width: 100px;
            height: 35px;
            border-radius: 5px;
            border-right: none;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border-color: #d9d9d9!important;
            box-shadow: none!important;
            .ant-select-selection-item {
                line-height: 35px;
            }
        }
    }
    .searchInput {
        margin-top: -3px;
        vertical-align: middle;
        border-radius: 5px;
        width: 180px;
        height: 35px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    .searchBtn {
        margin-left: 16px;
        width: 100px;
        height: 35px;
        border-radius: 5px;
        vertical-align: middle;
        margin-top: -3px;
    }
    .tableBox {
        margin-top: 20px;
        height: calc(100% - 55px);
        .table {
            height:100%;
        }
        .titleBox {
            display: flex;
            .img {
                width: 50px;
                height: 50px;
                vertical-align: middle;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .text {
                display: table;
                margin-left: 8px;
                p {
                    display: table-cell;
                    vertical-align: middle;
                }
            }
        }
    }
    .topOptions {
        display: flex;
        justify-content: space-between;
    }
}
.ant-upload-list {
    width: 300px!important;
}