.table {
    width: 100%;
    height: calc(100% - 34px);
    .actions {
        color: #1890ff;
        margin-right: 8px;
    }
    .edit {
        color: red;
    }
}
.pageination {
    margin-top: 16px;
    margin-bottom: 0!important;
    text-align: right;
}